<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <table>
        <tr><td><a href="/{{ links.mentors }}">{{ menu[0] }}</a></td></tr>
        <tr><td><a href="/{{ links.schools }}">{{ menu[1] }}</a></td></tr>
        <tr><td><a href="/{{ links.mentors_by_country }}">{{ menu[2] }}</a></td></tr>
        <tr><td><a href="/{{ links.contacts }}">{{ menu[3] }}</a></td></tr>
        <tr><td><a href="/{{ links.applicants }}">{{ menu[4] }}</a></td></tr>
        <tr><td><a href="/{{ links.applicants_and_mentors }}">{{ menu[5] }}</a></td></tr>
    </table>
</body>

</html>