<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/{{ links.mentors }}">{{ menu[0] }}</td>
        </tr>
        <tr>
            <td><a href="/{{ links.schools }}">{{ menu[1] }}</td>
        </tr>
        <tr>
            <td><a href="/{{ links.mentors_by_country }}">{{ menu[2] }}</td>
        </tr>
        <tr>
            <td><a href="/{{ links.contacts }}">{{ menu[3] }}</td>
        </tr>
        <tr>
            <td><a href="/{{ links.applicants }}">{{ menu[4] }}</td>
        </tr>
        <tr>
            <td><a href="/{{ links.applicants_and_mentors }}">{{ menu[5] }}</td>
        </tr>
    </table>
</body>
</html>