<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
    </head>
    <body>
        <table>
            {% for datas in data_list %}
            <tr> 
                {% for data in datas %}
                <td>
                    {{ data }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button><a href='/'>Back</a></button>
    </body>
</html>